.container {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    }

.brandListCon{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 2rem;
    overflow: hidden;
}

.insideBrandListCon{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
}

.brandLinkCon{
    height: 100px;
    width: 170px;
    border: 1px solid gray;
}

.brandLinkCon img{
    width: 100%;
    height: 100%;
}

.titleCon{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insideTitleCon{
    width: 70%;
    justify-content: left;
    padding-left: 20px;
}

@media (max-width: 1200px) {
    .insideBrandListCon{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 20px;
    }
    .insideBreadcrumb{
        width: 90%;
        display: flex;
        justify-content: left;
        
    }
    .insideTitleCon{
        width: 90%;
        justify-content: left;
        padding-left: 20px;
    }
}

@media (max-width: 1040px) {
    .insideBrandListCon{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 20px;
    }
    .insideBreadcrumb{
        width: 90%;
        display: flex;
        justify-content: left;
        
    }
    .insideTitleCon{
        width: 70%;
        justify-content: left;
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .insideBrandListCon{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 20px;
    }

    .insideBreadcrumb{
        width: 100%;
        display: flex;
        justify-content: left;
        
    }

    .insideTitleCon{
        width: 90%;
        justify-content: left;
        padding-left: 20px;
    }

    .brandLinkCon{
        height: 100px;
        width: 85%;
        border: 1px solid gray;
    }
    
    .brandLinkCon img{
        width: 100%;
        height: 100%;
    }
}