.mainGuestWishCOn{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.guestWishContainer{
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.insideGuestWishContainer{
    width: 60%;
    height: auto;
}

.insideGuestWishContainer h3{
    margin-top: 2rem;
}

.divInfo{
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    background-color: #d9edf7;
    border-radius: 5px;
    margin-top: 1rem;
    padding-left: 15px;
}

.divSuccess{
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    background-color: #e5efe5;
    border-radius: 5px;
    margin-top: 1rem;
    padding-left: 15px;
}

#checkItem{
    display: inline;
    float: left;
    margin-right: 10px;
    font-size: 20px;
    color: #006401;
    margin-top: 8px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
}

.divSuccess p{
    display: inline;
    float: left;
    font-size: 14px;
    color: #006401;
}

.divInfo i{
    display: inline;
    float: left;
    margin-right: 10px;
    font-size: 20px;
    color: #31708f;
    margin-top: 8px;
}

.divInfo p{
    display: inline;
    float: left;
    font-size: 14px;
    color: #1f71a3;
}

.productsListContainer{
    width: 100%;
    height: 400px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.iconContX{
    position: absolute;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
}

.iconContX:hover #xMark{
    color: #c2365c;
}

#xMark{
    font-size: 15px;
    color: gray;
    position: relative;
    top: 15%;
    left: 30%;
    right: 0;
}

.listItemDiv{
    width: 25%;
    height: 100%;
    float: left;
}

.listItemDiv img{
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.listItemDiv button{
    height: 30px;
    border: 2px solid black;
    color: black;
    padding: 0 15px;
    border-radius: 20px;
}

.listItemDiv button:hover{
    background-color: black;
    color: white;
}

button.addAllInCart{
    height: 30px;
    border: 2px solid transparent;
    color: white;
    padding: 0 15px;
    border-radius: 20px;
    margin-top: 1rem;
    background-color: black;
}

button.addAllInCart:hover{
    background-color: #c2365c;
}