
.insidebagContainer{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    margin-top: 10px;
}

#bagList{
    list-style-type: none;
    width: 100%;
    text-decoration: none;
    margin: 0;
    color: #222222;
    background-color: transparent;
}

#bagList1{
    list-style-type: none;
    width: 100%;
    text-decoration: none;
    margin: 0;
    color: #222222;
    background-color: transparent;
}

#bagList li{
    width: 100%;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.bagLink{
    padding: 0;
    display: inline;
}

#bagList1 li{
    width: 100%;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

#bagList1 li:hover .bagLink{
    color: #c2365c;
}

#bagList li:hover .bagLink{
    color: #c2365c;
}



.rightContImg{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
}

.rightContImg img{
    width: 300px;
    height: 170px;
}

.rightContImg img:hover {
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

