.slider {
    margin: 0 auto;
    width: 70%;
    height: 200px;
    position: relative;
    place-items: center;
    display: grid;
    overflow: hidden;
}
.slider-track{
    display: flex;
    width: calc(250px * 14);
    height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    animation: scroll 40s linear infinite;
}

.slider-track:hover{
  animation-play-state: paused;
}
  .slider-track img {
    height: 200px;
    width: 250px;
    transition: transform 1s;
  }

  .slider-track img:hover {
    transform: translateZ(20px);
  }

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 100%;
/*   position: absolute;
 */  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@media (max-width: 808px) {
  .slider {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    position: relative;
    place-items: center;
    display: grid;
    overflow: hidden;
}
}