.breadcrumbContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.insideBreadcrumbb{
    width: 60%;
    display: flex;
    justify-content: left;
    
}

ul.breadcrumblist{
    padding: 10px 16px;
    list-style: none;
    background-color: inherit;
}

ul.breadcrumblist li{
    display: inline;
}

ul.breadcrumblist li+li::before {
    padding: 8px;
    content: ">\00a0";
}

.activeBreadcrumb{
    color: grey;
    text-decoration: none;
    cursor: text;
}

.breadcrumbLink{
    color: black;
    text-decoration: none;
}

.breadcrumbLink:hover{
    color: #c2365c;
}