.mainUserAccount{
    width: 100%;
    height: auto;
}

.insideUserAccount{
    width: 60%;
    min-height: 600px;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 0;
}

.navigationUserAccount{
    height: 100%;
    display: inline;
    float: left;
    width: 20%;
    overflow: hidden;
}

.navigationUserAccount p{
    color: #333333;
    font-size: 16px;
    margin-bottom: 30px;
}

.menuContainerVisible{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
}

.spanOptionsCon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    left: 25px;
}

.optionsIconImg{
    width: 100%;
    height: 100%;
}

.navigationItemAcc{
    display: block;
    text-decoration: none;
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}

.activeNavItemAcc{
    color: #444444;
    font-weight: bold;
    cursor: text;
}

.navigationItemAcc:hover{
    color: #c2365c;
}

.activeNavItemAcc:hover{
    color: #444444;
}

.mainContentAcc{
    width: 80%;
    height: 100%;
    display: inline;
    float: left;
    overflow: hidden;
}
.mainContentAcc h2{
    width: 100%;
    padding-left: 5%;
}

.leftMainContent{
    display: inline;
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 5%;
}

.leftMainContentTopLeft{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.leftMainContentTopLeft p{
    color: gray;
}

.btnnCon{
    margin-top: 7px;
    height: 40px;
    width: 100%;
}

.btnnCon button{
    height: 35px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0 15px;
    color: black;
}

.btnnCon button:hover{
    background-color: black;
    color: white;
}

.leftMainContentBottomLeft{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.leftMainContentBottomLeft p{
    color: gray;
}

.chosenAddr{
    color: #333333;
}

.btnnConBott{
    margin-top: 7px;
    width: 100%;
    height: auto;
}

.btnnConBott button{
    display: block;
    height: 35px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 5px; 
    color: black;
    margin-bottom: 4px;
}

.btnnConBott button:hover{
    background-color: black;
    color: white;
}

#addressCtrl{
    background-color: black;
    color: white;
}

#addressCtrl:hover{
    background-color: #c2365c;
}

.rightMainContent{
    display: inline;
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 5%;
}

.rightMainContentTopRight{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.rightMainContentTopRight p{
    color: gray;
}

.rightMainContentBottomRight{
    height: 50%;
    width: 100%;
    overflow: hidden;
    padding-top: 40px;
}

.infoModal{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 35px;
    padding: 5px 15px;
    background-color: lightblue;
    margin-bottom: 20px;
}

.infoModal i{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    color: rgb(22, 22, 92);
}

.backBtn{
    height: 35px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 20px;
    background-color: black;
    color: white;
}

.backBtn:hover{
    background-color: #c2365c;
}

@media (max-width:1300px) {
    .insideUserAccount{
        width: 75%;
    }
}

@media (max-width:1000px) {
    .insideUserAccount{
        width: 80%;
    }
}

@media (max-width:900px) {
    .insideUserAccount{
        width: 90%;
    }

    .mainContentAcc{
        width: 100%;
    }
}

@media (max-width:600px) {
    .insideUserAccount{
        min-height: 700px;
    }
    .mainContentAcc{
        height: 650px;
    }
}